<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="site/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="site/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="site/stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="site/stylesheets/main.css"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Euler by Doboy</title>
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1>Project Euler</h1>
          <h2>doboy's progress</h2>
        </header>
       <section id="downloads" class="clearfix">
        <a href="https://github.com/Doboy/euler" id="view-on-github" class="button"><span>View on GitHub</span></a>
      </section>
      <section id="main_content">
        <table border="1">
           <tbody><% for @_problems in @problem_chunks %>
            <tr><% for @problem in @_problems %>
              <td class="problem <% if @problem.solved? %>solved<% end %>">
                <a href="http://projecteuler.net/problem=<%= @problem.number %>"<% if @problem.solved? %>
                   title="Solved in <%= @problem.best_solution.execution_time %>s with <%= @problem.best_solution.language %>"<% end %>>
                  <div><%= @problem.number %></div>
                </a>
              </td><% end %>
            </tr><% end %>
           </tbody>
        </table>
        <p><% @solutions_pre_language.each do |language, solutions| %>
          <span>
            <strong>
              <%= solutions.length %>
            </strong> solutions in <%= language %>
          </span>
          <br/><% end %>
          <span>
            <strong>
              <%= @problems.select { |p| p.solutions.length > 0 }.length  %>
            </strong> unique solutions
          </span>
        </p>
      </div>
    </div>
  </body>
</html>
